.achieve {
  padding-top: 123px;
  padding-bottom: 114px;
  background-image: url("../img/achieve-bg.png");
  background-position: right -9px bottom -528px;
  background-repeat: no-repeat;
  background-color: var(--color-lighh);

  &__list {
    margin-bottom: 260px;
  }

  &__item {
    @include flex-column-center;

    grid-column: 3 span;
    padding-top: 67px;
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;

    &--reccom {
      background-image: url("../img/like.svg");
    }

    &--renov {
      background-image: url("../img/painting.svg");
    }

    &--spec {
      background-image: url("../img/helmet.svg");
    }

    &--finish {
      background-image: url("../img/pantone.svg");
    }
  }

  &__value {
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
    color: var(--color-primary);

  }

  &__text {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-ebony);
  }

  &__info {
    position: relative;
    left: -30px;
    top: -136px;
    z-index: 10;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 80px;
    padding-bottom: 58px;
    width: 735px;
    box-shadow: var(--main-shadow);
    background-color: var(--color-light);
  }

  &__content {
    display: flex;
    align-items: flex-start;
  }
}

.quote {
  margin: 0;

  &__content {
    position: relative;
    margin-bottom: 25px;
    padding: 16px 40px 16px 56px;

    &::before {
      content: "";
      position: absolute;
      left: -3px;
      top: 16px;
      width: 28px;
      height: 20px;
      background-image: url("../img/braces.svg");
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    p {
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.5;
      color: var(--color-ebony);

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__footer {
    padding: 20px 55px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-storm);
    background-image: url("../img/signature.svg");
    background-position: top 10px right 25px;
    background-size: 100px 68px;
    background-repeat: no-repeat;
  }

  &__author {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-ebony);
  }
}