.desicions {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--color-athens);

  .grid {
    @include minitablet {
      display: block;
    }
  }

  &__left {
    grid-column: 5 span;

    img {
      margin-bottom: -143px;

      @include minitablet {
        margin-bottom: 30px;
      }
    }
  }

  &__right {
    grid-column: 7 span;
    padding-left: 104px;

    @include minitablet {
      padding-left: 0;
    }
  }

  &__title {
    margin-bottom: 62px;
  }

  &__item {
    position: relative;
    padding-left: 37px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-gray);

    &::before {
      content: "";
      position: absolute;
      left: 1px;
      top: 2px;
      width: 20px;
      height: 20px;
      background-image: url("../img/desicions-check.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &:not(:last-child) {
      margin-bottom: 21px;
    }

  }

}
