.partners {
  padding: 81px 0;
  background-color: #f4f5f7;

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    column-gap: 102px;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 37px;

    @include minidesk {
      column-gap: 30px;
    }
  }

  &__item {
    @include minidesk {
      display: flex;
      justify-content: center;
      grid-column: 3 span;
    }
  }

  &__link {
    &:focus {
      outline: 2px solid (var(--color-primary));
      outline-offset: 2px;
    }
  }

  &--about {
    padding: 121px 0;
    background-color: var(--color-light);

    .partners__title {
      margin-bottom: 24px;
    }
  }

  @include tablet {
    padding: 80px 0;
  }

  @include mobile {
    padding: 40px 0;
  }
}
