<section class="partners partners--about">
  <div class="container">
    <h2 class="title title--center partners__title">
      Our partners
    </h2>
    <p class="descr descr--center">
      We are supported by 12+ industry bodies and media partners
    </p>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-1.png" alt="indepth consulting logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-2.png" alt="higher fit logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-3.png" alt="sentinal consulting logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-4.png" alt="happy home logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-5.png" alt="orsale logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-6.png" alt=" sunset realty logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-7.png" alt=" sunset realty logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-8.png" alt=" sunset realty logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-9.png" alt=" sunset realty logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-10.png" alt=" sunset realty logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-11.png" alt=" sunset realty logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-12.png" alt=" sunset realty logo">
        </a>
      </li>
    </ul>
  </div>
</section>
